<section class="footer-section" >
  <!--===Start of Footer===-->

  <div class="footer-links" ng-controller="HomeController">
      
 
	

      
<!--  mobile footer < 730px   -->
    <div class="mobileFooter">
<button type="button" class="btn btn-default btn-block btn-Footer" ng-click="footerCollapsedRowOne = !footerCollapsedRowOne">
    <h3 >Company <i class="fa fa-plus pull-right" aria-hidden="true"></i></h3></button>
	<div collapse="footerCollapsedRowOne">
<div class="well well-lg footerWellButton" style="background:#3a3d3e;">
    <ul class="footItemMobile">
      <li style="list-style: none; display: inline text-align:left;">
      </li>
      <li class="" ui-sref="home2">Home</li>
      <li class="linkNotBuilt" ui-sref="howsWorkingNO">How it works</li>
      <li class="linkNotBuilt" ui-sref="earnWithUsNO">Trabaja con nosotros</li>
      <li class="linkNotBuilt" ui-sref="termsNO">Información legal</li>
      <li class="linkNotBuilt" ui-sref="privacyNO">Política de privacidad</li>
      <li class="linkNotBuilt" ui-sref="marketplaceNO">Reglas del mercado</li>
    </ul></div>
	</div>
<button type="button" class="btn btn-default btn-block btn-Footer" ng-click="footerCollapsedRowTwo = !footerCollapsedRowTwo"><h3 class="">Members <i class="fa fa-plus pull-right" aria-hidden="true"></i></h3></button>
	<div collapse="footerCollapsedRowTwo">
		<div class="well well-lg footerWellButton" style="background:#3a3d3e;">
    <ul class="text-center">
      <li class="" style="list-style: none; display: inline">
      </li>
      <li class="" ui-sref="tasks.create">Encargar Tarea</li>
      <li  class="" ui-sref="tasks.list">Buscar Tareas</li>
      <li class="" ui-sref="contact">Contáctanos</li>
      <li class="linkNotBuilt" ui-sref="articles.listNO">Blog</li>
    </ul></div>
	</div>
<button type="button" class="btn btn-default btn-block btn-Footer" ng-click="footerCollapsedRowThree = !footerCollapsedRowThree"><h3 class="">Learn <i class="fa fa-plus pull-right" aria-hidden="true"></i></h3></button>
	<div collapse="footerCollapsedRowThree">
		<div class="well well-lg footerWellButton" style="background:#3a3d3e;">
    <ul >
      <li class="" style="list-style: none; display: inline">
      </li>
          </li>
      <li class="linkNotBuilt" ui-sref="newUserNO">Nuevo usuario FAQ</li>
      <li class="linkNotBuilt" ui-sref="priceGuideNO">Guía de precios</li>
      <li class="linkNotBuilt" ui-sref="faqsNO">FAQs</li>
      <li class="linkNotBuilt" ui-sref="postNO">¿Cómo publicar una tarea?</li>
      <li class="linkNotBuilt" ui-sref="earnWithUsNO">Invita y gana</li>
      <li class="linkNotBuilt">Prensa</li>
    </ul></div>
	</div>
  
      <button type="button" class="btn btn-default btn-block btn-Footer" ng-click="footerCollapsedRowFour = !footerCollapsedRowFour"><h3 class="">Categories <i class="fa fa-plus pull-right" aria-hidden="true"></i></h3></button>
	<div collapse="footerCollapsedRowFour">
		<div class="well well-lg footerWellButton" style="background:#3a3d3e;">
    <ul>
      <li class="" style="list-style: none; display: inline">
      </li>
         </li>
      <li class="" ui-sref="tasks.list({ myFilter : { cleaning: true } })">Cleaning</li>
      <li class="" ui-sref="tasks.list({ myFilter : { moving: true } })">Delivery</li>
      <li class="" ui-sref="tasks.list({ myFilter : { DIY: true } })">Handyman</li>
      <li class="" ui-sref="tasks.list({ myFilter : { marketing: true } })">Marketing</li>
      <li class="" ui-sref="tasks.list({ myFilter : { photoEvents: true } })">Events</li>
      <li class="" ui-sref="tasks.list({ myFilter : { onlineIT: true } })">IT</li>
      <li class="" ui-sref="tasks.list({ myFilter : { office: true } })">Admin</li>
      <li class="" ui-sref="tasks.list({ myFilter : { funQuirky: true } })">Quirky</li>
      <li class="" ui-sref="tasks.list({ myFilter : { misc: true } })">Other</li>
    </ul></div>
	</div>


      

        
      </div>        
        
 <div class="desktopFooter">     
    <ul>
      <li style="list-style: none; display: inline">
        <h3 class="footer-headers">Company</h3>
      </li>
      <li class="workingLink" ui-sref="home2">Home</li>
      <li class="linkNotBuilt" ui-sref="howsWorkingNO">How it works</li>
      <li class="linkNotBuilt" ui-sref="earnWithUsNO">Trabaja con nosotros</li>
      <li class="linkNotBuilt" ui-sref="termsNO">Información legal</li>
      <li class="linkNotBuilt" ui-sref="privacyNO">Política de privacidad</li>
      <li class="linkNotBuilt" ui-sref="marketplaceNO">Reglas del mercado</li>
    </ul>
    <ul>
      <li class="footerItem" style="list-style: none; display: inline">
        <h3 class="footer-headers">Members</h3>
      </li>
      <li class="workingLink" ui-sref="tasks.create">Encargar Tarea</li>
      <li  class="workingLink" ui-sref="tasks.list">Buscar Tareas</li>
      <li class="workingLink" ui-sref="contact">Contáctanos</li>
      <li class="linkNotBuilt" ui-sref="articles.listNO">Blog</li>
    </ul>
    <ul class="footer2">
      <li class="footerItem" style="list-style: none; display: inline">
        <h3 class="footer-headers">Learn</h3>
      </li>
      <li class="linkNotBuilt" ui-sref="newUserNO">Nuevo usuario FAQ</li>
      <li class="linkNotBuilt" ui-sref="priceGuideNO">Guía de precios</li>
      <li class="linkNotBuilt" ui-sref="faqsNO">FAQs</li>
      <li class="linkNotBuilt" ui-sref="postNO">¿Cómo publicar una tarea?</li>
      <li class="linkNotBuilt" ui-sref="earnWithUsNO">Invita y gana</li>
      <li class="linkNotBuilt">Prensa</li>
    </ul>
    <ul class="footer2">
      <li class="footerItem">
        <h3 class="footer-headers">Categories</h3>
      </li>
      <li class="footerItem" ui-sref="tasks.list({ myFilter : { cleaning: true } })">Cleaning</li>
      <li class="footerItem" ui-sref="tasks.list({ myFilter : { moving: true } })">Delivery</li>
      <li class="footerItem" ui-sref="tasks.list({ myFilter : { DIY: true } })">Handyman</li>
      <li class="footerItem" ui-sref="tasks.list({ myFilter : { marketing: true } })">Marketing</li>
   
      <li class="footerItem" ui-sref="tasks.list({ myFilter : { photoEvents: true } })">Events</li>
      <li class="footerItem" ui-sref="tasks.list({ myFilter : { onlineIT: true } })">IT</li>
      <li class="footerItem" ui-sref="tasks.list({ myFilter : { office: true } })">Admin</li>
      <li class="footerItem" ui-sref="tasks.list({ myFilter : { funQuirky: true } })">Quirky</li>
      <li class="footerItem" ui-sref="tasks.list({ myFilter : { misc: true } })">Other</li>
    </ul>
      <hr class="footer-hr">
</div>     
     
    <div class="container-fluid">
        <div class="row SocialLinks">
            <p>Follow us on</p>
         <a class="SocialLinks" href="https://www.facebook.com/TaskMatch-1528535830788580/info/?tab=page_info&edited=category"> <i class="fa fa-facebook icons"></i></a>
         <a class="SocialLinks" href="https://twitter.com/Task_Match"> <i class="fa fa-twitter icons"></i></a>
          <i class="fa fa-linkedin icons"></i>
          
        </div>
      </div>
  </div>
  <div class="container-fluid footEnd">
    <p class="text-center Ltdco">Etece.es Ltd 2016 &copy;</p>
  </div>
</section>